@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
  background: #111111;
  color: #eeeeee;
  margin: 0;
  overflow-x: hidden;
}

.btn-primary {
  background: #ffffff;
  color: #000000;
}

.btn-secondary {
  background: #222222;
  color: #ffffff;
  border: 1px solid #333333;
}

.track-active {
  color: #ffffff;
  background: #1a1a1a;
}

.track-inactive {
  color: #888888;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
}
